<div class="pageContent">
    <md-card class="skill-card">
        <img md-card-image src="assets/img/keyboard1_thin.jpg">
        <h2>Technical Skills</h2>
        <md-card-content>
            <ul>
                <li><b>Languages, APIs:</b> HTML, CSS, SASS, JavaScript, TypeScript, JSON, AJAX, XML, Java, PHP, JSP, REST, SOAP, CMS, Flash/Flex/Scaleform Actionscript, Python, MySQL, MongoDB</li>
                <li><b>Frameworks:</b> Angular, Node.js, Bootstrap, jQuery, Spring MVC, Express</li>
                <li><b>Browser Features:</b> Single Page Applications, JavaScript Modules, Reusable Components, Responsive styling, WebSockets, Animations, Canvas, SVG, LocalStorage/SessionStorage, Search Engine Optimization</li>
                <li><b>Web Security:</b> OWASP, How to handle and store User Data, protect against browser vulnerabilities, CORS, preventing cross-scripting attacks, JWT handling, Session management</li>
                <li><b>Version Control:</b> Git/BitBucket, Subversion, Perforce, CVS</li>
                <li><b>Auditing, Marketing Analytics:</b> Google Analytics, Adobe Analytics, Ensighten, Adobe Test and Target, pixel counters </li>
                <li><b>Workflow:</b> Webpack, Node/NPM, Maven, Babel, Grunt, Jenkins, Nexus, integrated build-time features -- documentation, uglify, linting, compression</li>
                <li><b>Testing:</b> Karma, Jasmine, Mocha, Sinon, Protractor, Selenium</li>
                <li><b>IDE:</b> Visual Studio Code, Sublime Text, Intellij IDEA, Eclipse</li>
                <li><b>Operating Systems:</b> MacOSX, Windows, Ubuntu Linux</li>
                <li><b>Process:</b> Agile Scrum, SAFe, Waterfall, JIRA, Technical Documentation</li>
                <li><b>Cross Browser Compatibility:</b> IE, Firefox, Safari and Chrome</li>
                <li><b>Personality:</b> Strong self-starter, deadline oriented, able to adapt to an ever changing business model, extroverted, public speaker, honest, able to lead or be led</li>
                <li><b>Growth:</b> Highly motivated to learn new technologies, ongoing self training, avid convention + community meetups attendee</li>
                <li><b>Graphic Design, Production and Conversion:</b> Adobe Suite -- Photoshop, Illustrator, Fireworks</li>
                <li><b>Game Development:</b> 2.5 years experience developing User Interfaces at AAA Game Studio (Hi-Rez Studios) with two released games: Tribes: Ascend and SMITE</li>
            </ul>
        </md-card-content>
    </md-card>
</div>