<div class="pageContent">
    <md-card class="about-card">
        <h2>Portfolio</h2>
        <md-card-content>
            <h4>
                Browse screenshots and links to interactive demos of my previous work.
            </h4>

            <md-accordion>
                <md-expansion-panel expanded="true">
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Hi-Rez Studios - Tribes: Ascend
                        </md-panel-title>
                    </md-expansion-panel-header>
                    <div>choose an image below to enlarge screenshot</div>
                    <div>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_01_gameLobby.PNG" title="Tribes: Ascend - Lobby 1" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_01_gameLobby.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_02_gameLobby.PNG" title="Tribes: Ascend - Lobby 2" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_02_gameLobby.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_03_gameLobby.PNG" title="Tribes: Ascend - Lobby 3" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_03_gameLobby.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_04_gameLobby.PNG" title="Tribes: Ascend - Lobby 4" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_04_gameLobby.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_05_gameLobby.PNG" title="Tribes: Ascend - Lobby 5" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_05_gameLobby.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_13_Login.PNG" title="Tribes: Ascend - Log In" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_13_Login.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_14_Profile.PNG" title="Tribes: Ascend - Profile" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_14_Profile.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_06_transition.PNG" title="Tribes: Ascend - Transition" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_06_transition.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_08_inMatch.PNG" title="Tribes: Ascend - in Match 1" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_08_inMatch.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_11_InGame.PNG" title="Tribes: Ascend - in Match 2" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_11_InGame.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_12_InGame.PNG" title="Tribes: Ascend - in Match 3" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_12_InGame.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_09_EndOfMatch.PNG" title="Tribes: Ascend - End of Match 1" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_09_EndOfMatch.jpg" />
                        </a>
                        <a group="tribes" ng-box src="assets/img/hirez/tribes_ascend/tribes_ascend_10_EndOfMatch.PNG" title="Tribes: Ascend - End of Match 2" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/tribes_ascend/tribes_ascend_10_EndOfMatch.jpg" />
                        </a>
                    </div>
                </md-expansion-panel>
                <md-expansion-panel>
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Hi-Rez Studios - Smite
                        </md-panel-title>
                    </md-expansion-panel-header>
                    <div>choose an image below to enlarge screenshot</div>
                    <div>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_01_login.PNG" title="Smite - Log in" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_01_login copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_02_lobbymain.PNG" title="Smite - Lobby" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_02_lobbymain copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_03_playnow.PNG" title="Smite - Play Now" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_03_playnow copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_04_godsScreen.PNG" title="Smite - Gods Screen" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_04_godsScreen copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_05_twitch.PNG" title="Smite - Twitch" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_05_twitch copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_06_characterBuilder.PNG" title="Smite - Character Builder" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_06_characterBuilder copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_07_matchLobby.PNG" title="Smite - Match Lobby" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_07_matchLobby copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_08_transition.PNG" title="Smite - Transition" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_08_transition copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_09_ingameHUD.PNG" title="Smite - In Game HUD" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_09_ingameHUD copy.jpg" />
                        </a>
                        <a group="smite" ng-box src="assets/img/hirez/smite/smite_10_endofmatch.PNG" title="Smite - Victory Screen" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/hirez/smite/smite_10_endofmatch copy.jpg" />
                        </a>
                    </div>
                </md-expansion-panel>
                <md-expansion-panel>
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Equifax - FACTA
                        </md-panel-title>
                    </md-expansion-panel-header>
                    <div>choose an image below to enlarge screenshot</div>
                    <div>
                        <a group="equifaxGroup1" ng-box src="assets/img/equifax/FACTA-screen1.png" title="FACTA step 1" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_FACTA-screen1.jpg" />
                        </a>
                        <a group="equifaxGroup1" ng-box src="assets/img/equifax/FACTA-mobile.png" title="FACTA KBA Questions on mobile" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_FACTA-mobile.jpg" />
                        </a>
                        <a group="equifaxGroup1" ng-box src="assets/img/equifax/FACTA-screen2.png" title="FACTA step 2" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_FACTA-screen2.jpg" />
                        </a>
                        <a group="equifaxGroup1" ng-box src="assets/img/equifax/FACTA-screen3.png" title="FACTA step 3" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_FACTA-screen3.jpg" />
                        </a>
                    </div>
                </md-expansion-panel>
                <md-expansion-panel>
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Equifax - MemberCenter
                        </md-panel-title>
                    </md-expansion-panel-header>
                    <div>choose an image below to enlarge screenshot</div>
                    <div>
                        <a group="equifaxGroup2" ng-box src="assets/img/equifax/MC-login.png" title="MemberCenter log in" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_MC-login.jpg" />
                        </a>
                        <a group="equifaxGroup2" ng-box src="assets/img/equifax/MC-loginError.png" title="MemberCenter log in ERROR" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_MC-loginError.jpg" />
                        </a>
                    </div>
                </md-expansion-panel>
                <md-expansion-panel>
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Equifax - OrderFunnel
                        </md-panel-title>
                    </md-expansion-panel-header>
                    <div>choose an image below to enlarge screenshot</div>
                    <div>
                        <a group="equifaxGroup3" ng-box src="assets/img/equifax/OF-step1.png" title="Orderfunnel step 1" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_OF-step1.jpg" />
                        </a>
                        <a group="equifaxGroup3" ng-box src="assets/img/equifax/OF-step2.png" title="Orderfunnel step 2" width="100%" [cache]="true">
                            <img class="portfolioThumbnail" src="assets/img/equifax/thumb_OF-step2.jpg" />
                        </a>
                    </div>
                </md-expansion-panel>
            </md-accordion>
        </md-card-content>
    </md-card>
</div>