<div>
    <md-toolbar color="primary">
        <md-toolbar-row>
            <span>Brian Wilgus</span>
            <span class="example-spacer"></span>
            <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>more_vert</md-icon> Menu</button>
        </md-toolbar-row>

    </md-toolbar>

    <md-menu #appMenu="mdMenu">
        <button md-menu-item routerLink="/about"><md-icon>face</md-icon>About Me</button>
        <button md-menu-item routerLink="/skills"><md-icon>computer</md-icon>Skills</button>
        <button md-menu-item routerLink="/work-history"><md-icon>business_center</md-icon>Work History</button>
        <button md-menu-item routerLink="/contact"><md-icon>mail_outline</md-icon>Contact</button>
    </md-menu>

    <router-outlet></router-outlet>
</div>