<div class="pageContent">
    <md-card class="about-card">
        <img md-card-image src="assets/img/city_thin.jpg">
        <h2>Work History</h2>
        <md-card-content>
            <p>
                I build awesome stuff and I am looking for something great to be a part of.
            </p>
            <md-grid-list cols="2" rowHeight="2:1">
                <md-grid-tile>1</md-grid-tile>
                <md-grid-tile>2</md-grid-tile>
                <md-grid-tile>3</md-grid-tile>
                <md-grid-tile>4</md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>
</div>